#nav_menu ul{ 
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;}
#nav_menu li{ float: left;}
#nav_menu ul li {
    text-align:center;
    display:inline-block;
    width: 100px;
    padding:15px;
    text-decoration: none;
    background-color:blue;
    color: white;
    font-weight: bold;
    border-right:2px solid white;}
  