#nav_menu ul{ 
    list-style-type: none;
    margin-left: 40px;
    padding:0;
    overflow:hidden;
    }
#nav_menu li{ float: left;}
#nav_menu li a {
    text-align:center;
    display:inline-block;
    width: 100px;
    padding:10px 40px;
    text-decoration: none;
    background-color:pink;
    color: black;
    font-weight: bold;
    border-right:2px solid white;}
    #nav_menu li a.current{
     color:fuchsia;
    }
    article {
        clear: both;
        width: 70%;
        float: left;
        column-count: 3;
        column-rule: 2px dotted black;
        column-gap: 2em;
        margin-left: 2em;
    }
    article h3 {
        column-span: all;
    }
    article img {
        float:left;
        margin-right: 1em;
        margin-bottom: 1em;}
    aside.fixed {
        width: auto;
        position: fixed;
        bottom: 20%;
        right: 0;
        border: 3px solid black;
        background-color: palevioletred;
        padding: 1em;
    }
    footer p.copyright {
        text-align: center;
        font-size: 80%;
    }
    article p::first-letter {
        font-style:italic;}